{% extends "base.html" %}

{% block title %}
Bookshelf
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/bookshelf">Bookshelf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn signin" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn-2">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main style="font-family: 'Inter Tight', sans-serif;">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9">
                <h1 class="caption"> Books </h1>
                <table class="table table-hover">
                    <thead>
                        <tr class="top-row">
                            <th>Title</th>
                            <th>Author</th>
                            <th>Page</th>
                            <th>Update</th>
                            <th>Completed</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="bookshelf-table">
                        {% for progress in reading_progress %}
                        <tr>
                            <td>{{ progress.book.title }}</td>
                            <td>{{ progress.book.author }}</td>
                            <td>{{ progress.page_number }} </td>
                            <td>
                                <form action="{% url 'update_progress' progress.book.id %}" method="post" class="update-progress-form">
                                    {% csrf_token %}
                                    <input type="number" class="small-input" name="page_number" placeholder="Page">
                                </form>
                            </td>
                            <td>
                                <input type="checkbox" name="completed" {% if progress.completed %}checked{% endif %}>
                            </td>
                            <td>
                                <form action="{% url 'delete_book' progress.book.id %}" method="post" class="delete-book-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger del-btn">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="started-new">
                    <form class="add-book-form" action="{% url 'add_book' %}" method="post">
                        <h2> Started something new? Add here.</h2>
                        {% csrf_token %}
                        <input class="book-details" type="text" name="title" placeholder="Enter Title">
                        <input class="book-details" type="text" name="author" placeholder="Enter Author">
                        <button type="submit" class="btn btn-2">Add Book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}
