{% extends "base.html" %}

{% block title %}
Bookshelf
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4">Your Bookshelf</h1>
    <p class="lead">Track your reading progress and manage your book list.</p>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Page Number</th>
                        <th>Update Progress</th>
                        <th>Delete Book</th>
                    </tr>
                </thead>
                <tbody id="bookshelf-table">
                    {% for progress in reading_progress %}
                        <tr>
                            <td>{{ progress.book.title }}</td>
                            <td>{{ progress.book.author }}</td>
                            <td>{{ progress.page_number }} </td>
                            <td>
                                <form action="{% url 'update_progress' progress.book.id %}" method="post"
                                    class="update-progress-form">
                                    {% csrf_token %}
                                    <input type="number" name="page_number" placeholder="Enter Page Number">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'delete_book' progress.book.id %}" method="post" class="delete-book-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form id="add-book-form" action="{% url 'add_book' %}" method="post">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Enter Title">
                <input type="text" name="author" placeholder="Enter Author">
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock body %}


