{% extends "base.html" %}
{% load static %}

{% block title %}
Bookshelf - Track your book reading progress with ease.
{% endblock title %}

{% block body %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Bookshelf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn signin" href="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <button href="/register" class="btn-2" type="submit">                    
                        <a href="/register">Sign up</a>                    
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main">
    <div class="box">
        <div class="left-half">
            <h1 class="display-4">Track your book reading progress with ease.</h1>
            <p class="left-content">
                <div class="typing-container">
                    <span class="typing-text"></span>
                </div>
                <span class="cursor"></span>
            </p>
            <button href="/register" class="btn-2 create-btn" type="submit">                    
                <a href="/register">Create your first bookshelf!</a>                    
            </button>
        </div>

        <div class="right-half">
            <div class="img1">
                <img src="{% static 'images/shelf.jpg' %}" alt="Overlaid Image" class="above-img">
            </div>
            <div class="img2">
                <img src="{% static 'images/tableshelf.jpg' %}" alt="Background Image" class="sticky-image">
            </div>
        </div>
    </div>
</div>

<script>
    
    const text = "Designed to help you keep track of your books — no matter how large your home library has become.";
    let i = 0;
    const speed = 50; 

    function typeWriter() {
        if (i < text.length) {
            document.querySelector(".typing-text").innerHTML += text.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

    typeWriter();
</script>

<footer>
    <div class="footer-content">
      <p>&copy; 2023 Bookshelf by <strong style="font-size: 14.3px;"> Tanya Agarwal</strong>.</p>
    </div>
  </footer>
  
  
{% endblock body %}
