{% extends "base.html" %}


 {% block title%}
 Home
 {% endblock title%}
 
 {% block body%}
 <div class="container mt-5">
     <h1 class="display-4">Welcome to Bookshelf</h1>
     <p class="lead">Track your book reading progress with ease.</p>
     <a class="btn btn-primary" href="/landing">Get Started</a>
 </div>
 
 <div class="container mt-5">
     <h2>About Bookshelf</h2>
     <p>
         Bookshelf is a simple and user-friendly app that helps you keep track of your book reading progress.
         Whether you're an avid reader or just getting started, Bookshelf provides a convenient way to manage
         your reading list, set reading goals, and log your progress.
     </p>
     <p>
         Get started today by creating an account and start adding books to your virtual bookshelf. You can
         update your progress, mark books as read, and keep a record of your reading achievements.
     </p>
 </div>
 {% endblock body %}
 